.detail {
  @extend %cover;
  @extend %center;
}

.detail__wrapper {
  align-items: center;
  display: flex;
}

.detail.media {
  height: 78.2rem;
  position: relative;
  width: 55.4rem;
}

.detail__media__image {
  @extend %cover;

  object-fit: cover;
}

// .detail__information
.detail__information__collection {
  @extend %description-12;
}

.detail__information__title {
  @extend %title-120;
}

.detail__information__content {
  padding-left: 18rem;
}

.detail__information__highlight {
  align-items: center;
  display: flex;
}

// .detail__information__highlight
// .detail__information__highlight__icon

// .detail__information__highlight__text

.detail__information__list {
  margin-top: 4rem;
}

.detail__information__item {
  align-items: center;
  display: flex;

  &:not(:first-child) {
    margin-top: 4rem;
  }
}

.detail__information__item__title {
  @extend %description-12;
}

// .detail__information__item__description {

// }

.detail__information__link {
  @extend %title-30;

  margin-top: 3rem;
}
