.about__content {
  display: flex;
  justify-content: center;
  margin: 20rem auto;
  position: relative;
  // width: 125.8rem;

  &:first-child {
    margin-bottom: 0;
  }

  &:last-child {
    margin-bottom: 0;
  }
}

.about__content__wrapper {
  display: flex;

  .about__content--right & {
    flex-direction: row-reverse;
  }
}

.about__content__box {
  display: flex
}

.about__content__label {
  @extend %description-12;

  text-transform: uppercase;
  width: 18rem;
}

.about__content__description {
  width: 36.2rem;

  p:not(:first-child) {
    margin-top: 4rem;
  }
}

.about__content__media {
  .about__content:nth-child(3) & {
    height: 80.8rem;
    margin-left: 17.8rem;
    position: relative;
    width: 53.8rem;
  }

  .about__content:nth-child(1) & {}

}

// .about__content__media__image {
//   @extend %cover;

//   object-fit: cover;
// }
