block variables

doctype html 
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")

    base(href="/")

    title=meta.data.title

    meta(name="description", content=meta.data.description)

    
    link(href="/main.css" rel="stylesheet")
    meta(name="msapplication-TileColor" content="#f4d8cc")
    meta(name="theme-color" content="#f4d8cc")

    

  body 
    include ./partials/preloader
    include ./partials/navigation

    .content#content(data-template=template)
      block content

    script(src="main.js")

