extends ../base.pug

block variables 
	- var template = 'detail'

block content
	.detail
		.detail__wrapper
			figure.detail.media
				img.detail__media__image(alt=product.data.image.alt src=product.data.image.url)

			.detail__information
				p.detail__information__collection=product.data.collection.data.title